.about {
  margin-top: 16rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 1rem;
}
  .about > p {
  text-align: start;
  font-size: 5rem;
  font-family: "Blisstrapy", Sans-serif;
  background: linear-gradient(to right, #9b5de5, #ff5e5b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.boxes {
  font-family: "NerdFont", Sans-serif;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
.boxes > * {
  border-radius: 1rem;
  border-style: solid;
  border-width: thin;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2rem 2rem 2rem 2rem;
}
.paragraph{
  grid-area: 1/1/3/1;
}

.wrapper {
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 7rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.wrapper:hover .leftitem {
  animation-play-state: paused;
}

.leftitem {
  width: auto;
  height: 50px;
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 9), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.leftitem1 {
  animation-delay: calc(30s / 9 * (9 - 1) * -1);
}

.leftitem2 {
  animation-delay: calc(30s / 9 * (9 - 2) * -1);
}

.leftitem3 {
  animation-delay: calc(30s / 9 * (9 - 3) * -1);
}

.leftitem4 {
  animation-delay: calc(30s / 9 * (9 - 4) * -1);
}

.leftitem5 {
  animation-delay: calc(30s / 9 * (9 - 5) * -1);
}

.leftitem6 {
  animation-delay: calc(30s / 9 * (9 - 6) * -1);
}

.leftitem7 {
  animation-delay: calc(30s / 9 * (9 - 7) * -1);
}

.leftitem8 {
  animation-delay: calc(30s / 9 * (9 - 8) * -1);
}
.leftitem9 {
  animation-delay: calc(30s / 9 * (9 - 9) * -1);
}

.wrapper2 {
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  height: 7rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.rightitem {
  width: auto;
  height: 50px;
  border-radius: 6px;
  position: absolute;
  right: max(calc(200px * 9), 100%);
  animation-name: scrollRight;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.wrapper2:hover .rightitem {
  animation-play-state: paused;
}

.rightitem1 {
  animation-delay: calc(30s / 9 * (9 - 1) * -1);
}

.rightitem2 {
  animation-delay: calc(30s / 9 * (9 - 2) * -1);
}

.rightitem3 {
  animation-delay: calc(30s / 9 * (9 - 3) * -1);
}

.rightitem4 {
  animation-delay: calc(30s / 9 * (9 - 4) * -1);
}

.rightitem5 {
  animation-delay: calc(30s / 9 * (9 - 5) * -1);
}

.rightitem6 {
  animation-delay: calc(30s / 9 * (9 - 6) * -1);
}

.rightitem7 {
  animation-delay: calc(30s / 9 * (9 - 7) * -1);
}

.rightitem8 {
  animation-delay: calc(30s / 9 * (9 - 8) * -1);
}
.rightitem9 {
  animation-delay: calc(30s / 9 * (9 - 9) * -1);
}


@media (max-width:600px) {
  .about > p {
  margin-bottom: 0.75rem;
  }
  
.boxes{
  grid-template-columns:1fr ;
  grid-template-rows: auto 1fr;
}
.about{
  margin-top: 5rem; 
}
  
}