.home{
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    align-items: flex-start;
}
.home div> p:nth-child(1){
    font-family: "Blisstrapy";
    background: linear-gradient(to right, #9b5de5, #ff5e5b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 4rem;
    margin-bottom: 0;
}
.home div> p:nth-child(2){
    color: white    ;
    font-size: 1.5rem;
    font-family: "NerdFont";
}

.home img{
    border-radius: 5rem;   
    animation: move 7s infinite;
    opacity: 0.8;
    background-blend-mode: color;
    box-shadow: 0 5px 15px #9b5de5;
    margin-right: 5rem;
}
@keyframes move {
    0% {
      transform: translatex(0);
    }
    50% {
      transform: translatey(-20px);
    }
  }