
.NavBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #BABABA;
    border-radius: 10rem;
    background-color: rgba(255, 255, 255, 0.061);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top:0;
    z-index: 1;
    transition: transform 0.3s ease-in-out;

}
.visible {
  transform: translateY(0);
}

.hidden {
  transform: translateY(-100%);
}
.logo a{
font-family: "Blisstrapy";
font-size:4rem;
cursor: pointer;
text-decoration: none;
color: inherit;
}
.logo a:hover{
    color: white;
}

.titles{
    font-family: "NerdFont";
    display: flex;
    border-radius: 5rem;
    cursor: pointer;
    column-gap: 3rem;
}

.titles a{
text-decoration: none;
color: inherit;
}
.titles a:hover{
    color: white;
}
.socialMedia{
display: flex;
    column-gap: 1rem;
    justify-content: baseline;
}
.socialMedia *{
    cursor: pointer;
    color: inherit;   
}
.socialMedia a:hover{
color: white;
}
